.all-users {
    /* border: 10px solid gray; */
}

.users-list {
    /* border: 10px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-title {
    /* border: 10px solid red; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin: 30px auto;
}