.header {
    background-color: blue;
    height: 80px;
    /* margin-top:-18px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h3{
    color: whitesmoke;
}

.header .links {
    display: flex;
    font-size: 20px;
    flex: 1;
    justify-content: space-around;
    cursor: pointer;
    color: whitesmoke;
}