.footer {
    background-color: blue;
    height: 80px;
    /* margin-top:-18px; */
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 0px; */
    /* border: 10px solid red; */
}
/* .footer h3{
    color: whitesmoke;
} */

.footer .links {
    display: flex;
    justify-content: center;
    /* width: 400px; */
    font-size: 10px;
    flex: 0.4;
    justify-content: space-around;
    cursor: pointer;
    color: whitesmoke;
    /* border: 5px solid red; */
}
.footer .social-media {
    display: flex;
    font-size: 10px;
    /* width: 400px; */
    flex: 0.2;
    justify-content: space-around;
    /* border: 5px solid red; */
    color: whitesmoke;
    cursor: pointer;
  
}